<!DOCTYPE html>
<html>
  <head>
      <title></title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
      <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

      <!-- custom css/js -->
      {% load static %}
      <script src={% static 'display_houses/main.js' %} defer></script>
      <script src={% static 'display_houses/bootstrap.js' %} defer></script>
      <link rel="stylesheet" href={% static 'display_houses/style.css' %}>
  </head>
  <body>
      <script type="text/javascript">
      $(document).ready( function () {
        $.noConflict();
        $('#results').DataTable();
      } );
      </script>

      <div class="jumbotron">
        <center><h3>GlassHouse</h3>
          <!-- <a href="{% url 'scrape_file' %}" class="btn btn-success">Get Listings</a>
          <a href="{% url 'clean' %}" class="btn btn-success">Clean All</a> 
          <BR><BR> -->
          <a href="{% url 'sold_houses' %}" class="btn btn-success">Sold Houses</a>
          <a href="{% url 'price_history' %}" target="_blank" class="btn btn-success">Price History</a>
          <h6>Total Listings: {{ object_list|length }}</h6>

          <form action="{% url 'index' %}" method="post" id="city-form">
            {% csrf_token %}
            <div class="form-group d-inline-block">
              <select class="form-control" name="city-menu" id="city-menu">
                <option value="" hidden>Choose City</option>
                <!-- Loaded by AJAX -->
              </select>
            </div>

            <div class="form-group d-inline-block">
              <select class="form-control" name="district-menu" id="district-menu">
                <option value="" hidden>Choose District</option>
                <!-- Loaded by AJAX -->
              </select>
            </div>

            <input type="submit" value="Apply">
          </form>

        </center>
      </div>
      
    <div style="padding: 10px; margin: 20px;">
      <table id="results" class="display">
        <thead>
            <tr>
                <th>Street</th>
                <th>District</th>
                <th>City</th>
                <th>Price $ NTD</th>
                <th>Price Per Square Meter</th>
                <th>Size in Square Meters</th>
                <th>Bedrooms</th>
                <th>Bathrooms</th>
                <th>ID</th>
                <th>Status</th>
                <th>Published On</th>
                <th>Modified On</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            {% load humanize %}
            <tr>
                <td><h6 class="card-title">{{ object.address }}</h6></td>
                <td><h6 class="card-title">{{ object.district }}</h6></td>
                <td><h6 class="card-title">{{ object.city }}</h6></td>
                <td><a href="{{object.url}}" target="_blank"><h5 class="card-title">${{ object.price|floatformat:1|intcomma }}</h5></a></td>
                <td><h6 class="card-title">${{ object.price_per_m2|floatformat:1|intcomma }}</h6></td>
                <td><h6 class="card-title">{{ object.size_m2 }}</h6></td>
                <td><h6 class="card-title">{{ object.bedrooms }}</h6></td>
                <td><h6 class="card-title">{{ object.bathrooms }}</h6></td>
                <td><h6 class="card-title">{{ object.house_id }}</h6></td>
                <td><h6 class="card-title">{{ object.status }}</h6></td>
                <td><h6 class="card-title">{{ object.date_published }}</h6></td>
                <td><h6 class="card-title">{{ object.date_modified }}</h6></td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>

      <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>

